@import "./mixins.scss";
@import "./variables.scss";
@import "./reset.scss";

html,
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: justify;
  color: #2c3e50;
  background: #fafafa;
  // background: black;
  min-height: 100vh;
  .page {
    margin: 20px;
    max-width: $nav-max-width;
    @media (min-width: $nav-max-width) {
      margin: 0 auto;
    }
    article {
      hr {
        margin: 3rem 0;
      }
      a {
        color: inherit;
      }
      img {
        margin: 2rem auto;
        width: 100%;
        display: block;
        &.medium-size {
          max-width: 400px;
        }
      }
      .title {
        margin: 5px;
        text-align: left;
        font-size: 2rem;
        padding-top: 1rem;
        @media (max-width: $mobile-size) {
          font-size: 2rem;
          padding-top: 3rem;
        }
        @media (min-width: $nav-max-width) {
          font-size: 2.8rem;
        }
        span {
          font-size: 1.4rem;
        }
      }
    }
  }
}
