$nav-max-width: 980px;
$mobile-size: 600px;
$tiny-size: 408px;
$transition-header: all 400ms ease;

$black: #4c4c4c;
$yellow: #ffc608;

$primary-color: #1d90a8;
$accent-color: #727475;

$z-index-nav: 9;
$z-index-overlay: 6;
$z-index-canvas: 3;
// $bar-width: 4px;

$nav-bg: #fafafa; // transparent; // #f1ed0d;
$nav-bg-hover: transparent; // #3c3c3c;
$nav-link-color: $black;
$nav-link-color-hover: #2c2c2c;

// $side-border-color: #f5f38f; // #f1ed0d;
$color-bg: #fafafa;
// $text-color: #5c5c5c;

$box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .4);
